 <form class="form-signin" method="post" action"/login">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {{form.userName}}{% for fields in form.fields %}{% if fields.error %}<font color="red">required</font>{% endif %} {% endfor %}
        {{form.password}}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>